# Note: this is an example unit

[Unit]
Description=Container for IOMIrea run runner
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-%h/bin/docker stop %n
ExecStartPre=-%h/bin/docker rm %n
ExecStart=%h/bin/docker run --name %n --rm --pull always -p 8080:8080 \
                            -v %h/run-api-private/runner/data/config.yaml:/code/runner/data/config.yaml \
                            -v /var/run/docker.sock:/var/run/docker.sock \
                            iomirea/run-api-private --enable-sentry

[Install]
WantedBy=multi-user.target
